# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*
# Runtime data
pids
*.pid
*.seed

# Miscellaneous
.vscode/
.tmp/
build/
build-tmp*/
include/
!deps/opus/include
prebuild/
test/

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# prebuilds
prebuilds/
.DS_Store
dist/
