name: Prebuild
on:
  release:
    types: [published]
jobs:
  build:
    name: Prebuild node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-13,
            macos-14,
            macos-15,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            ubuntu-24.04,
            ubuntu-24.04-arm,
            windows-2022,
          ]
        node: [18, 20, 22, 24]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Install Node v${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        env:
          npm_config_build_from_source: true
        run: yarn install --immutable

      - name: Package prebuild
        run: yarn build

      - name: Upload prebuild asset
        uses: icrawl/action-artifact@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: "build/stage/**/*.tar.gz"

  build_musl:
    name: Prebuild node ${{ matrix.node }} on ${{ matrix.os }} (musl)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
        node: [18, 20, 22, 24]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: true

      # Workaround https://github.com/actions/runner/issues/801
      - name: Setup container
        run: |
          docker run --name runner --rm -it -d -v $PWD:/node-opus -w /node-opus node:${{ matrix.node }}-alpine

      - name: Setup env with Node v${{ matrix.node }}
        run: |
          docker exec runner apk add --update
          docker exec runner apk add --no-cache ca-certificates git curl build-base python3 g++ make corepack

      - name: Enable Corepack
        run: docker exec runner corepack enable

      - name: Install dependencies
        env:
          npm_config_build_from_source: true
        run: docker exec runner yarn install --immutable --unsafe-perm

      - name: Package prebuild
        run: docker exec runner yarn build

      - name: Stop container
        run: docker rm -f runner

      - name: Upload prebuild asset
        uses: icrawl/action-artifact@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: "build/stage/**/*.tar.gz"
